* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 100, 'wght' 400, 'GRAD' 0, 'opsz' 22;
    margin-right: 2%;
    font-size: 2rem;
    margin-left: 3%;
    margin-bottom: 4%;
}

body {
    background-color: lightgray;
}

main {
    width: 100vw;
    height: 300vh;
    display: grid;
    padding: 2%;
    row-gap: 1%;
    column-gap: 4%;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(auto-fill, 5%);
    background-color: lightgrey;
}

.person {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0px 10px 10px 0px grey;
    grid-column: 1/3;
    grid-row: 1/6;
}

.person img {
    margin-left: 3%;
    margin-top: 2%;
    height: 50%;
    width: 90%;
    border-radius: 13px;
    margin-bottom: 3%;
}

.person #name {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-left: 3%;
    margin-top: 5%;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(79, 79, 79, 1);
}

.person #current_role {
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.33rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 3%;
    color: rgba(130, 130, 130, 1);
}

.person #email {
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(79, 79, 79, 1);
}

.person #phone {
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(79, 79, 79, 1);
}

.person #about {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.3rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    margin-top: 3%;
    color: rgba(130, 130, 130, 1);
}

.experiences {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px grey;
    grid-column: 1/3;
    grid-row: 6/12;
    display: flex;
    background-color: white;
    flex-flow: column;
    justify-content: space-evenly;
}

.experiences #exp_header {
    font-family: Montserrat;
    font-size: 2rem;
    margin-left: 5%;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 0em;
    text-align: left;
    flex-basis: 10%;
}

.job {
    display: flex;
    flex-flow: row;
}

.logo_container {
    flex-basis: 20%;
}

.desc {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 70%;
    justify-content: space-between;
    margin-left: 3%;
    /* justify-content: right; */
}

.worktime {
    color: rgba(130, 130, 130, 1);
    margin-bottom: 5%;
    font-family: Montserrat;
    font-size: 110%;
    font-weight: 500;
    line-height: 0.9rem;
    letter-spacing: 0em;
    text-align: left;
    flex-basis: auto;
}

.role {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0em;
    color: rgba(51, 51, 51, 1);
    text-align: left;
    margin-bottom: 4%;
}

.workDone {
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1rem;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(130, 130, 130, 1);
}

.hobbies {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px grey;
    background-color: white;
    grid-column: 1/3;
    grid-row: 12/17;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.hobbies .hobby_pic {
    height: 15%;
    width: 90%;
    margin-left: 3%;
    border-radius: 13px;
}

.hobbies .hobby_header {
    font-family: Montserrat;
    font-size: 2.7rem;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    color: rgba(79, 79, 79, 1);
    margin-top: 3%;
}

.hobbies .hobby_name {
    font-family: Montserrat;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    color: rgba(51, 51, 51, 1);
}

.hobbies .hobby_desc {
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 7%;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    color: rgba(130, 130, 130, 1);
}

.frontend {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px grey;
    background-color: white;
    grid-column: 3/6;
    grid-row: 1/3;
    display: flex;
    flex-flow: column;
}

.frontend_header {
    font-family: Montserrat;
    font-size: 1.5rem;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(79, 79, 79, 1);
}

.skill {
    height: 16.6%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skill .skill_name {
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    flex-basis: 30%;
    color: rgba(79, 79, 79, 1);
}

.skill .progress {
    /* width: 60%; */
    flex-basis: 70%;
    height: 30%;
    border: 1px;
    background-color: darkgray;
    border-radius: 3px;
}

.skill #progress_color1 {
    width: 90%;
    height: 100%;
    background-color: rgba(47, 128, 237, 1);
    border-radius: 3px;
}

.skill #progress_color2 {
    width: 95%;
    height: 100%;
    background-color: rgba(47, 128, 237, 1);
    border-radius: 10%;
}

.skill #progress_color3 {
    width: 85%;
    height: 100%;
    background-color: rgba(47, 128, 237, 1);
    border-radius: 10%;
}

.skill #progress_color4 {
    width: 99%;
    height: 100%;
    background-color: rgba(47, 128, 237, 1);
    border-radius: 10%;
}

.skill #progress_color5 {
    width: 85%;
    height: 100%;
    background-color: rgba(47, 128, 237, 1);
    border-radius: 10%;
}

.skill #progress_color6 {
    width: 96%;
    height: 100%;
    background-color: rgba(47, 128, 237, 1);
    border-radius: 10%;
}

.skill #progress_color {
    width: 96%;
    height: 100%;
    background-color: rgba(47, 128, 237, 1);
    border-radius: 10%;
}

.design {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px grey;
    background-color: white;
    grid-column: 6/8;
    grid-row: 1/2;
    display: flex;
    flex-flow: column;
}

.design_header {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: rgba(79, 79, 79, 1);
}

.design_progress {
    width: 70%;
    height: 30%;
    flex-basis: 70%;
    /* justify-self: center; */
    border: 1px;
    background-color: darkgray;
    border-radius: 3px;
}

.projects {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px grey;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    grid-column: 3/8;
    grid-row: 3/3;
}

.projects p {
    font-family: Montserrat;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    color: rgba(79, 79, 79, 1);
}

.project_content1 {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px grey;
    background-color: white;
    grid-column: 3/8;
    grid-row: 4/7;
    display: flex;
    flex-flow: row wrap;
}

.project_img_container {
    height: 100%;
    flex-basis: 42%;
}

.project_img {
    height: 80%;
    width: 70%;
    margin-top: 7%;
    margin-left: 7%;
    border-radius: 13px;
}

.project_content2 {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px grey;
    background-color: white;
    grid-column: 3/8;
    grid-row: 7/10;
    display: flex;
    flex-flow: row wrap;
}

.project_info {
    flex-basis: 58%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.tags {
    color: #4F4F4F;
    font-family: Montserrat;
    font-size: 1.4rem;
    margin-top: 6%;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.project_title {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    /* margin-bottom: 13%; */
}

.project_description {
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(130, 130, 130, 1);
}

.buttons {
    display: flex;
    width: 40%;
    flex-flow: row;
    justify-content: space-between;
}

button {
    background-color: rgba(47, 128, 237, 1);
    font-size: 1.2rem;
    border-radius: 13px;
    padding: 10% 30%;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.color_button {
    background-color: white;
    border: 1px solid rgba(47, 128, 237, 1);
    color: rgba(47, 128, 237, 1);
    margin-left: 2%;
}

.blogs {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px grey;
    background-color: white;
    grid-column: 3/8;
    grid-row: 10/10;
    display: flex;
    align-items: center;
}

.blogs p {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
}

.blog_content {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px grey;
    background-color: white;
    grid-column: 3/8;
    grid-row: 10/14;
    display: flex;
    flex-flow: row;
}

.blog_text {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blog_image_container {
    flex-basis: 55%;
    display: flex;
    justify-content: end;
}

.blog_img {
    height: 85%;
    width: 90%;
    border-radius: 13px;
    /* margin-left: 6%; */
    margin-top: 10%;
}

.blog {
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.4px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    color: rgba(224, 224, 224, 1);
}

.blog_title {
    font-family: Montserrat;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    margin-left: 3%;
}

.blog_context {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(130, 130, 130, 1);
    margin-left: 3%;
}

.hyperlink {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3%;
    color: rgba(47, 128, 237, 1);
}

@media screen and (width<939px) {
    main {
        height: 250vh;
        grid-template-columns: repeat(5, 10%);
        grid-template-rows: repeat(25, 10%);
        row-gap: 1%;
        /* column-gap: 0; */
        /* justify-content: center; */
        margin-left: 10%;
    }
    .person {
        box-shadow: 0px 10px 10px 0px grey;
        grid-column: 1/6;
        grid-row: 1/4;
    }
    .frontend {
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 1px grey;
        background-color: white;
        grid-column: 1/6;
        grid-row: 4/6;
        display: flex;
        flex-flow: column;
    }
    .design {
        grid-column: 1/6;
        grid-row: 6/6;
    }
    .projects {
        grid-column: 1/4;
        grid-row: 7/7;
    }
    .project_content1 {
        grid-column: 1/6;
        grid-row: 7/10;
        flex-flow: column;
    }
    .project_content2 {
        grid-column: 1/6;
        grid-row: 10/13;
        flex-flow: column;
    }
    .experiences {
        grid-column: 1/5;
        grid-row: 13/16;
        flex-flow: column;
        justify-content: space-evenly;
    }
    .job {
        display: flex;
        flex-flow: column;
    }
    .hobbies {
        grid-column: 1/6;
        grid-row: 16/20;
    }
    .blogs {
        grid-column: 1/4;
        grid-row: 20/20;
    }
    .blog_content {
        grid-column: 1/5;
        grid-row: 21/24;
        flex-flow: column-reverse;
        justify-content: space-around;
    }
    .blog_text {
        margin-top: -50%;
    }
    .blog_image_container {
        justify-content: end;
    }
    .blog_img {
        height: 50%;
    }
}